
body{
  margin: auto;
  font-family: 'Rubik', sans-serif;
  transition: all 1s;
}


/* Navigation bar setup */
#navbar-container{
  margin: 0;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ececec;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar li {
    float: left;
  }
  
 .navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover:not(.active) {
    background-color: #6b6b6b;
    color: white;
  }
  
  .navbar .active {
    background-color: #e0e0e0;
  }

  

/* Introduction section */
#intro{
  margin: 5% auto;
  height: 400px;
}

.intro-content{
  text-align: center;

}

.profile-picture{
  margin-top: 5%;
  object-fit: cover;
  width: 200px;
  border-radius: 100%;
}

.blob{
  position: absolute;
  margin-left: 40%;
  transform: scale(0.5);
  z-index: -1;
  color:#383350;
}

/* Main */

.bubble{
  margin-top: 200px;
  margin-bottom: 50px;
  width: 18%;
  height: 500px;
  transition: width 1s ease;
}
.bubble-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-left{
  position: absolute;
  top: 48%;
  right: 0%;
  margin-right: 2px;
  background: none;
  border-radius: 8px;
  border: solid grey 1.5px;
  color: grey;
}

.button-right{
  position: absolute;
  top: 48%;
  left: 0%;
  margin-left: 2px;
  background: none;
  border-radius: 8px;
  border: solid grey 1.5px;
  color: grey;
}

button:active{
  background-color: inherit;
  border: solid black 2px;
  font-weight: bold;
  color: black;
  transform: scale(1.2);
}

.bubble-content-left h3{
  position: absolute;
  top: 53%;
  right: 0%;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.bubble-content-right h3{
  position: absolute;
  top: 38%;
  left: 100px;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.right-bubble{
  text-align: left;
  position: relative;
  margin-right: 0;
  margin-left: auto;
  background-color: white;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
}

.left-bubble h3 button{
  text-align: right;
}

.left-bubble{
  text-align: center;
  position: relative;
  background-color: white;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
}


.hidden{
  display: none;
}

/* contact section */
.Contact-content{
  text-align: center;
  padding: 20px;
}

.Contact-content table{
  display: flex;
  justify-content: center;
  line-height: 2;
}

/* Bottom section */

.bottom{
  border-top: solid black 1.5px;
  height: 250px;
  background-color: rgb(54, 54, 54);
}

/* Animated background */
#main {

  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(333deg, #fd7507, #b90303, #f000fd);
  background-size: 600% 600%;

  animation: AnimationName 20s ease infinite;

    
}

@keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}


